.circle:hover {
    opacity: .6;
    cursor: pointer;
    fill: #00c227;
    r: 4.5;
}

.bar:hover {
    opacity: .6;
    cursor: pointer;
}

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

.line {
    stroke: black;
    fill: none;
    stroke-width: 1px;
}

.wrapper {
    text-align: center;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

.chart {
    margin: 0 auto;
}

.wrapper p {
    text-align: left;
}

h2 {
    margin-bottom: 1rem;
}

.analysis {
    font-size: small;
}