.circle:hover {
    opacity: .6;
    cursor: pointer;
    fill: #00c227;
    r: 4.5;
}

.circle{
    /*fill: #00821a;*/
}

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

.line {
    stroke: black;
    fill: none;
    stroke-width: 1px;
}

.wrapper {
    text-align: center;
    padding-top: 20px;
}